HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

# Ignore Docker data files
docker-data/data/AxonIQ.pid
docker-data/data/axonserver-configdb.mv.db
docker-data/data/_diagnostics/logfile.log

# Ignore database data files
database-data/orders.lock.db
database-data/orders.mv.db
database-data/orders.trace.db
database-data/products.mv.db

# Ignore all .log.gz files
*.log.gz

# Ignore all .lock.db files
*.lock.db

# Ignore all .mv.db files
*.mv.db

